<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">BTHS Reviews</h1>
            <nav>
                <ul class="menu">
                    {% if page == 'home' %}
                        <li><button class="nav-button" onclick="location.href='{{ url_for('submit_review') }}'">Submit A Review</button></li>
                        <li><button class="nav-button" onclick="location.href='{{ url_for('about') }}'">About</button></li>
                    {% elif page == 'submit_review' %}
                        <li><button class="nav-button" onclick="location.href='{{ url_for('home') }}'">Home</button></li>
                        <li><button class="nav-button" onclick="location.href='{{ url_for('about') }}'">About</button></li>
                    {% else %}
                        <li><button class="nav-button" onclick="location.href='{{ url_for('home') }}'">Home</button></li>
                        <li><button class="nav-button" onclick="location.href='{{ url_for('submit_review') }}'">Submit A Review</button></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="image-container">
        <img src="{{ url_for('static', filename='bths_logo.png') }}" alt="Logo">
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
