<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">BTHS Reviews</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><button class = "nav-button" onclick="location.href='{{ url_for('submit_review.html') }}'">Write A Review</button></li>
                        <li><button class = "nav-button" onclick="location.href='{{ url_for('about.html') }}'">About</button></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>


    <div class="image-container">
        <img src="{{ url_for('static', filename='bths_logo.png') }}" alt="Logo">
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
